page-perfildep {//estilos de la vista del perfil del deportista
    //estilo para el fondo de pantalla
    .grad {
        background-image: linear-gradient(#1575E1, #33D7FF);
    }
    //estilo para el borde de la tarjeta
    .border_card {
        border-radius: 10px;//esquinas redondeadas
    }
    //estilo para el titulo del la tarjeta
    .title_card {
        font-size: 90%;//tamaño de buente
        color: darkcyan;//color de la fuente
    }
    //estilo de la etiqueta donde se muestra la informacion
    .textarea {
        text-align-last: right;//alineado a la derecha
    }
}
