page-deportistasent {
    .grad {
        background-image: linear-gradient(#1575E1, #33D7FF);
    }
    
    .border_card {
        border-radius: 10px;
        height: 85%;
    }
    
    .title_card {
        font-size: 90%;
        color: darkcyan;
    }

    ion-scroll {
        white-space: nowrap;
        height: 100%;
    }

    .border_card_solicitudes {
        border-radius: 10px;
        height: 500px;
    }
}
