<ion-content class="grad" padding>

  <button ion-button color="light" menuToggle clear>
      <ion-icon name="menu"></ion-icon>
  </button>

  <ion-segment [(ngModel)]="actividades">
    <ion-segment-button style="color: whitesmoke; border-color: white;" value="deportistas">
      Deportistas
    </ion-segment-button>
    <ion-segment-button style="color: whitesmoke; border-color: white;" value="solicitud">
      Solicitudes
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="actividades">

    <div *ngSwitchCase="'deportistas'">
      <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refrescando...">
        </ion-refresher-content>
      </ion-refresher>
      <ion-card style="height: 500px" class="border_card">
        <ion-card-header class="title_card">
          Deportistas
        </ion-card-header>
    
        <ion-scroll scrollY="true">
          <ion-list inset >
            <ion-item-sliding *ngFor="let e of enlaces">
                <ion-item   class="formato_item">
                  <ion-thumbnail item-start>
                    <img  src="assets/imgs/logofinal.png">
                  </ion-thumbnail>
                  <h2 (click)="metodo(e.ide)">{{e.email}}</h2>
                  <p style="text-align: center">id:{{e.ide}} • {{e.fecha}}</p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button ><ion-icon name="create" style="width: 30px; height: 30px"></ion-icon></button>
                    <button ion-button color="secondary"><ion-icon name="stats" style="width: 30px; height: 30px"></ion-icon></button>
                </ion-item-options>
            </ion-item-sliding>
            
          </ion-list>
        </ion-scroll>
      </ion-card>
    </div>
  
    <div *ngSwitchCase="'solicitud'">
      
      <ion-card class="border_card_solicitudes">
        <ion-card-header class="title_card"> Enviar Solicitud</ion-card-header>
        <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-scroll scrollY="true">
          <ion-list inset >
            <ion-item *ngFor="let item of items" class="formato_item" >
              <ion-label (click)="alerta_enviar(item.email_dep)">{{ item.email_dep }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-card>

      <ion-card class="border_card_solicitudes_pen">
        <ion-card-header class="title_card">Solicitudes Pendiente</ion-card-header>
        <ion-scroll scrollY="true">
          <ion-list inset >
            <ion-item *ngFor="let item_s of enlaces_pend" class="formato_item" >
              <ion-label>{{ item_s.email }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-card>
    </div>
  </div>



  <!--
  <ion-card class="border_card">
    <ion-card-header class="title_card">
      Deportistas
    </ion-card-header>

    <ion-scroll scrollY="true">
      <ion-list inset *ngFor="let e of enlaces" >
        <ion-item style="border-bottom: 1px solid; border-color: rgb(194, 191, 191); height: auto">
          <h2>{{e.email}}</h2>
          <p style="text-align: left">{{e.entrenamiento_n}}</p>
          <p style="text-align: right">{{e.fecha}}</p>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-card>
  -->
  

</ion-content>
