page-deportistasent {
    .grad {
        background-image: linear-gradient(#1575E1, #33D7FF);
    }
    
    .border_card {
        border-radius: 10px;
        height: 85%;
    }
    
    .title_card {
        font-size: 90%;
        color: darkcyan;
    }

    ion-scroll {
        white-space: nowrap;
        height: 75%;
    }

    .border_card_solicitudes {
        border-radius: 10px;
        height: 500px;
    }

    .border_card_solicitudes_pen {
        border-radius: 10px;
        height: 250px;
    }

    .formato_item {
        border-bottom: 1px solid; 
        border-color: rgb(194, 191, 191); 
        height: auto;
    }

    .item ion-thumbnail ion-img,
    .item ion-thumbnail img {
        width: 75px !important;
        height: 75px !important;
    }
}
