<ion-content class="grad" padding>

  <button ion-button color="light" menuToggle clear>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-segment [(ngModel)]="actividades">
    <ion-segment-button style="color: whitesmoke; border-color: white;" value="ejercicio">
      Ejercicios
    </ion-segment-button>
    <ion-segment-button style="color: whitesmoke; border-color: white;" value="solicitud">
      Solicitudes
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="actividades">
    <div *ngSwitchCase="'ejercicio'">
      <ion-refresher  (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refrescando...">
        </ion-refresher-content>
      </ion-refresher>

      <ion-card class="border_card_solicitudes_pen">
        <ion-card-header class="title_card">
          Entrenadores enlazados
        </ion-card-header>
        <ion-scroll scrollY="true">
          <ion-list inset >
            <ion-item-sliding *ngFor="let e of enlaces">
                <ion-item   class="formato_item">
                  <h2>{{e.email}}</h2>
                  <p style="text-align: center">{{e.ide}}  {{e.fecha}}</p>
                </ion-item>
                <ion-item-options side="left">
                  <button ion-button color="danger" >
                    <ion-icon  name="close" style="width: 30px; height: 30px"></ion-icon>
                  </button>
                </ion-item-options>
                <ion-item-options side="right">
                  <button ion-button (click)="info_entrenamiento(e.ide,e.email)">
                    <ion-icon  name="clipboard" style="width: 30px; height: 30px"></ion-icon>
                  </button>
                  <button ion-button color="secondary">
                    <ion-icon name="stats" style="width: 30px; height: 30px"></ion-icon>
                  </button>
                </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-scroll>
      </ion-card>

    </div>
  
    <div *ngSwitchCase="'solicitud'">
      
      <ion-card class="border_card_solicitudes_pen">
        <ion-card-header class="title_card">
          Solicitudes Recibidas Pendiente
        </ion-card-header>
          <ion-scroll scrollY="true">
            <ion-list inset>
              <ion-item *ngFor="let p of enlaces_pend" class="formato_item" (click)="alerta_confirmacion(p.email, p.ide)">
                <ion-label >{{ p.email }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-scroll>
      </ion-card>
    </div>
  </div>

</ion-content>
