page-entrenamiento {//estilos de vista entrenameinto
    //estilo fondo de pantalla
    .grad {
        background-image: linear-gradient(#1575E1, #33D7FF);
    }
    //estilo borde de tarjeta
    .border_card {
        border-radius: 10px;//esquinas redondeadas
    }
    //estilo para el titutlo de la tarjeta
    .title_card {
        font-size: 90%;//tamaño de fuente
        color: darkcyan;//color fuente
    }
    //permite que funcione es scroll en la vista
    ion-scroll {
        white-space: nowrap;
        height: 85%;//altura del scroll
    }
    //estilo para el borde de la tarjeta de solicitudes
    .border_card_solicitudes {
        border-radius: 10px;//borde redondeado
        height: 500px;//alto de la tarjeta
    }
    //estilo para darle formato al item contenedor de los datos
    .formato_item {
        border-bottom: 1px solid !important;//borde inferior del item
        border-color: rgb(194, 191, 191) !important; //color del borde del item
        height: auto !important;//altura del itam
    }
}
