<ion-content class ="grad" padding>
    <!-- se imprime el cronometro -->
    <div style="margin-top: 25%"> <!-- posición 25% del borde superior-->
      <ion-label icon-only class="crono">
        <ion-icon name="alarm" class="icon_crono"></ion-icon> <!-- icono del cronometro-->
        {{min2}}{{min1}} : {{seg2}}{{seg1}} : {{cen2}}{{cen1}} <!-- minutos, segundos y centecimas del cronometro-->
      </ion-label>  
    </div>
      
      <!--botones de inicio, detencion y terminar para el cronometro-->
      <div style="text-align: center; margin-top: 15%">
        <button ion-button icon-only class="btn_entre" outline color="light" (click)="iniciar_entrenamiento(); cambiaricon()" *ngIf="cambio"> <!--botón e icono para inicio-->
          <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button class="btn_entre" outline color="light" (click)="pausar_entrenamiento(); cambiaricon()" *ngIf="!cambio"><!--botón e icono para detener-->
          <ion-icon name="pause"></ion-icon>
        </button>
        <button ion-button class="btn_fin" outline color="light" (click)="finalizar_entrenamiento()"><!--botón e icono para finalizar-->
          <ion-icon name="close"></ion-icon>
        </button>
      </div>

      <div style="margin-top: 100px; text-align: center">
        <button ion-button class="btn_volver" (click)="volver()">Volver</button>
      </div>
  
  </ion-content>