<ion-content>
  
    <ion-item>
      <ion-label fixed>Nombre</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label fixed>Apellido Paterno</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Apellido Materno</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Genero</ion-label>
      <ion-select >
        <ion-option value=Masculino>Masculino</ion-option>
        <ion-option value=Femenino>Femenino</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label fixed>Fecha nacimiento</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD/MMM/YYYY" ></ion-datetime>
    </ion-item>
  
    <ion-item>
        <ion-label>Pais</ion-label>
        <ion-select >
          <ion-option value="Argentina">Argentina</ion-option>
          <ion-option value="Bolivia">Bolivia</ion-option>
          <ion-option value="Brasil">Brasil</ion-option>
          <ion-option value="Chile">Chile</ion-option>
          <ion-option value="Colombia">Colombia</ion-option>
          <ion-option value="Costa Rica">Costa Rica</ion-option>
          <ion-option value="Cuba">Cuba</ion-option>
          <ion-option value="Ecuador">Ecuador</ion-option>
          <ion-option value="El Salvador">El Salvador</ion-option>
          <ion-option value="Guatemala">Guatemala</ion-option>
          <ion-option value="Honduras">Honduras</ion-option>
          <ion-option value="México">México</ion-option>
          <ion-option value="Nicaragua">Nicaragua</ion-option>
          <ion-option value="Panamá">Panamá</ion-option>
          <ion-option value="Paraguay">Paraguay</ion-option>
          <ion-option value="Puerto Rico">Puerto Rico</ion-option>
          <ion-option value="Perú">Perú</ion-option>
          <ion-option value="República Dominicana">República Dominicana</ion-option>
          <ion-option value="Uruguay">Uruguay</ion-option>
          <ion-option value="Venezuela">Venezuela</ion-option>
        </ion-select>
    </ion-item>
    
  <button ion-button color="primary" style="margin: auto; display: block" (click)="">Guardar</button>

</ion-content>