.popover-tamaño .popover-content{
    width: 80% ;
};

ion-toast.mensaje-toast { 
   // border-radius: 20px !important;
   // background-color:transparent !important;
    width: 86%; 
    left: 7%;
}

.has-refresher > .scroll-content { 
    background-color: transparent !important;
    color: white; 
}