.popover-tamaño .popover-content{
    width: 80% ;
};

.mensaje-toast { 
    .toast-wrapper { 
    background-color: rgb(51, 49, 49); 
    border-radius: 15px !important;
    width: 90%;
    } 
}

.has-refresher > .scroll-content { 
    background-color: transparent !important;
    color: white; 
}