page-deportista {

  .grad {
    background-image: linear-gradient(#1575E1, #33D7FF);
  }

  .border_card {
    border-radius: 10px;
  }

  .title_card {
    font-size: 90%;
    color: darkcyan;
  }

  .btn_edit {
    margin-left: 70%;
  }

  .textarea {
    text-align-last: right;
  }
}
