<ion-content class ="grad" padding>
  
  <ion-card class="border_card">
    <ion-card-header class="title_card">
      Entrenamiento
    </ion-card-header>
  </ion-card>
  <!--Entrenamiento-->
  <ion-item> 
    <ion-label>Tipo de entrenamiento</ion-label>
    <ion-input type="text" [(ngModel)]="tipo_entrenamiento"></ion-input>
  </ion-item>
  <ion-item> 
    <ion-label>Tiempo de entrenamiento</ion-label>
    <ion-input type="number" [(ngModel)]="unidad_entrenamiento"></ion-input>
  </ion-item>
  <button ion-button (click)="minEntrenamiento()" full>minutos</button>
  <button ion-button (click)="segEntrenamiento()" full>segundos</button>

  <!--
    <ion-label class="crono">
        <ion-icon name="alarm" class="icon_crono"></ion-icon>
        {{min2}}{{min1}} : {{seg2}}{{seg1}} : {{cen2}}{{cen1}}
    </ion-label>
    
    <button ion-button class="btn_entre" outline color="light" (click)="inicio()">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-button class="btn_entre" outline color="light" (click)="marca()">
      <ion-icon name="pause"></ion-icon>
    </button>
    <button ion-button class="btn_entre" outline color="light" (click)="lapso()">
      <ion-icon name="bookmark"></ion-icon>
    </button> 
    <button ion-button class="btn_entre" outline color="light" (click)="finalizar()">
      <ion-icon name="close"></ion-icon>
    </button>
  -->
      <br>
    <button ion-button (click)="enviar_entrenamiento()" full>Enviar Entrenamiento</button>
  <!--  
    <ion-card style="height: 300px">
      <ion-scroll scrollY="true">
        <ion-list inset *ngFor="let a of datos_acc" >
          <ion-item style="border-bottom: 1px solid; border-color: rgb(194, 191, 191); height: auto">
            <h2>aceleracion eje x: {{a.varx}}</h2>
            <h2>aceleracion eje y: {{a.vary}}</h2>
            <h2>aceleracion eje z: {{a.varz}}</h2>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-card>
    
    <button ion-button (click)="consultar_acc()" full>consultar aceleraciones</button>
    <button ion-button (click)="borrar_acc()" full>Borrar aceleraciones</button>
    
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-label>{{min2Marca}}{{min1Marca}} : {{seg2Marca}}{{seg1Marca}} : {{cen2Marca}}{{cen1Marca}}</ion-label>
    </ion-item>
    
    <ion-card>
      <ion-label>Marcas</ion-label>
      <ion-list inset *ngFor="let cole of coleccion">
        <ion-item>
          <ion-label>{{cole.min2}}{{cole.min1}} : {{cole.seg2}}{{cole.seg1}} : {{cole.cen2}}{{cole.cen1}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  -->
</ion-content>
