<ion-content class ="grad" padding>
  
  <div style="margin-top: 25%">
    <ion-label icon-only class="crono">
      <ion-icon name="alarm" class="icon_crono"></ion-icon>
      {{min2}}{{min1}} : {{seg2}}{{seg1}} : {{cen2}}{{cen1}}
    </ion-label>  
  </div>
    
    
    <div style="text-align: center; margin-top: 15%">
      <button ion-button icon-only class="btn_entre" outline color="light" (click)="nuevoEntrenamiento(); cambiaricon()" *ngIf="cambio">
        <ion-icon name="play"></ion-icon>
      </button>
      <button ion-button class="btn_entre" outline color="light" (click)="pausa(); cambiaricon()" *ngIf="!cambio">
        <ion-icon name="pause"></ion-icon>
      </button>
      <button ion-button class="btn_fin" outline color="light" (click)="finalizar()">
        <ion-icon name="close"></ion-icon>
      </button>
    </div>

    <div style="margin-top: 25%">
      <ion-item no-lines style="background-color: transparent">
        <ion-input class="AFP_max" [(ngModel)]="A_max" disabled ></ion-input>
        <ion-input class="AFP_max" [(ngModel)]="F_max" disabled ></ion-input>
        <ion-input class="AFP_max" [(ngModel)]="P_max" disabled ></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item no-lines style="background-color: transparent">
        <ion-label class="label_acel">acel. max.</ion-label>
        <ion-label class="label_acel">Fuerza max.</ion-label>
        <ion-label class="label_potencia">Potencia max.</ion-label>
      </ion-item>
    </div>

</ion-content>