page-cronometro {

    .grad {
        background-color: #252121;
    }

    .crono {
        text-align: center;
        font-size: 45px;
        color: whitesmoke;
    }
    
    .icon_crono {
        margin-right: 0px;
        color: whitesmoke;
        font-size: 35px;
    }

    .btn_entre {
        border-radius: 50px;
        border-width: 1px;
        background-color: rgb(240, 58, 13);
        width: 75px;
        height: 75px;
    }

    .btn_fin {
        border-radius: 40px;
        border-width: 1px;
        width: 40px;
        height: 40px;
    }

    ion-scroll {
        white-space: nowrap;
        height: 100%;
    }

}
