<ion-content class="grad">

    <button ion-button color="light" menuToggle clear>
        <ion-icon name="menu"></ion-icon>
    </button>
  
    <ion-card class="border_card">
      <ion-card-header class="title_card">
        Deportistas
      </ion-card-header>

      <ion-scroll scrollY="true">
        <ion-list inset *ngFor="let d of deportista" >
          <ion-item>

              <h2 (click)="detalle(d.email)">Correo: {{d.email}}</h2>
 
          </ion-item>
        </ion-list>
      </ion-scroll>

      <ion-item >
        <button ion-button color="secondary" block >
          <ion-icon name="create" style="margin-right: 5px" ></ion-icon>
          Editar
        </button>
        <button ion-button color="danger" block >
          <ion-icon name="close" style="margin-right: 5px" ></ion-icon>
          Eliminar
        </button>
      </ion-item>

    </ion-card>
  
    <ion-card class="border_card">
      <ion-card-header class="title_card">
        Entrenadores
      </ion-card-header>

      <ion-scroll scrollY="true">
        <ion-list inset *ngFor="let e of entrenador" >
          <ion-item>

              <h2 (click)="detalle2(e.email)">Correo: {{e.email}}</h2>
 
          </ion-item>
        </ion-list>
      </ion-scroll>

      <ion-item >
        <button ion-button color="secondary" block >
          <ion-icon name="create" style="margin-right: 5px" ></ion-icon>
          Editar
        </button>
        <button ion-button color="danger" block >
          <ion-icon name="close" style="margin-right: 5px" ></ion-icon>
          Eliminar
        </button>
      </ion-item>
  
    </ion-card>
  
    <ion-card class="border_card">
      <ion-card-header class="title_card">
        Estadisticas
      </ion-card-header>
    
    </ion-card>
  
  </ion-content>
