/*ESTILO DE LA PAGINA DE Origen*/

page-home {
	/*Colores de Fondo de pantalla*/
	.grad {
		/*Colores gradientes del fondo de pantalla*/
		background-image: linear-gradient(#1575E1, #33D7FF);
	}

	.logo {
		width: 130px;
		height: 130px;
		margin-left: 30%; 
		margin-top: 10%;
	}

	.btn_ok{
		background-color:#FF780F;	/*Color de botón*/
	}
	/*Estilo de texto pie de pagina (derechos reservados)*/
	.pie_page {
		text-align: center;	/*ubicacion del texto horizontal*/
		margin-top: 25%;	/*ubicacion del texto vertical*/
		color: white;	  /*Color de la fuente*/
		font-size: 75%;		/*tamaño de la fuente*/
	}
}
