page-home {
	.grad {
  		background-image: linear-gradient(#1575E1, #33D7FF);
	}

	.btn_ok{
		background-color:#FF780F;
	}

	.pie_page {
		text-align: center;
		margin-top: 40%;
		color: white;
		font-size: 75%;
	}
}
